* {
    margin:0px;
    padding:0px;
}

body {
    width:100%;
}

@font-face {
    font-family:master;
    src: url(fonts/master_of_break.ttf);
}

@font-face {
    font-family:nanami;
    src: url(fonts/Nanami-Regular.otf);
}

@font-face {
    font-family:nanami-light;
    src: url(fonts/Nanami-Light.otf);
}

@font-face {
    font-family:nanami-bold;
    src: url(fonts/Nanami-Bold.otf);
}


/*_____FIRSTPAGE_____*/


#firstpage {
    background-image:url(img/firstbg.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    height:100vh;
}

header {
    background:white;
    margin:0px;
    position:relative;
    height:88px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 1);
}

.logo {
    float:left;
    margin-left: 213px;
    padding-top:10px;
    padding-bottom:10px;
}


nav {
    float:right;
    margin-right:185px;
    height:88px;
    line-height:88px;
}

ul li {
    display:inline-block;
}

ul li a{
    transition:0.6s;
    font-family:nanami;
    font-size:20px;
    color:black;
    text-decoration:none;
    text-transform:uppercase;
    padding-left:20px;
    padding-right:20px;
    padding-top:38px;
    padding-bottom:32px;
}

ul li a:hover {
    background:#fff581;
}

#taste {
    text-align:center;
}

#taste h5 {
    display:none;
}

#slogan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#slogan h4 {
    font-family:nanami;
    text-transform:uppercase;
    font-size:35px;
    color:white;
    position:relative;
    top:0px;
    letter-spacing: 4px;
    margin-top:50px;
}


/*_____OUR_____*/


.our {
    position:relative;
    max-width:1050px;
    margin:0 auto;
    text-align:center;
    margin-top:150px;
    margin-bottom:150px;
}

.button {
    background:#ff7e66;
    border:1px solid #ff7e66;
    width:222px;
    margin:50px auto 0;
    cursor:pointer;
}

.our h1 {
    font-family:nanmi;
    font-size:50px;
    color:#f01b16;
    text-transform: uppercase;
    margin-bottom:40px;
}

span.master {
    font-family:master;
    margin-left:14px;
    text-transform:lowercase;
    text-transform: capitalize;
}

.our p {
    font-family:nanami-light;
    font-size:23px;
    color:#b9b6b4;
}

.button p {
    font-size:18px;
    font-family:nanami;
    color:white;
    text-transform:uppercase;
    padding:18px 0px;
}

.button p:hover {
    color:#ff7e66;
    background:white;
    transition:1s;
}


/*_____COOKING_____*/


#cooking {
    display:flex;
    height:875px;
}

#photo {
    flex:1;
    background-image: url(img/bake.jpg);
    background-size:cover;
    background-position:center center;
}

#description {
    flex:1;
    text-align:center;
    background:#fff2ed;
}

#description h3 {
    font-size:50px;
    font-family:nanami-bold;
    color:#ff7e66;
    text-transform:uppercase;
    max-width:400px;
    margin:94px auto 32px;
}

#description p {
    font-family:nanami-light;
    font-size:21px;
    color:#b9b6b4;
    max-width:540px;
    margin:30px auto 0px;
}


/*_____LEMON_____*/


#lemon {
    position:relative;
}

#cookie img {
    width:100%;
}

#detail {
    position: absolute;
    left: 70%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    text-align:left;
    max-width:500px;
}

#detail img {
    position:relative;
    left:-50px;
}

#detail p {
    font-family:nanmi;
    font-size:20px;
    color:#f6f1e8;
    font-weight:bold;
    padding-top:70px;
}

#detail h2 {
    font-family:master;
    font-size:50px;
    color:white;
    padding:20px 0px;
}

#detail h5 {
    display:none;
}

#view {
    display:inline-block;
    border:1px solid white;
}

#view p {
    font-family:nanami-light;
    font-size:20px;
    color:white;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:22px 35px;
    cursor:pointer;
}

#view p:hover {
    color:#d9c06f;
    background:white;
    transition:1s;
}


/*_____SERVICES_____*/


#services {
    display:flex;
    justify-content:space-around;
    margin:0 auto;
    padding:150px 0px;
}

#services h6 {
    font-family:nanami;
    font-size:30px;
    color:#120203;
    position:relative;
    top:15px;
}

#shoping img {
    position:relative;
    left:45px;
    top:-10px;
}

#ship img {
    position:relative;
    top:-10px;
}

#ship h6 {
    position:relative;
    left:28px;
}

#products img {
    position:relative;
    left:50px;
    top:-10px;
}

#ship {
    padding-left:120px;
    padding-right:120px;
    border-left:2px solid black;
    border-right:2px solid black;
    margin-top:8px;
    position:relative;
}

#products {
    margin-top:3px;
}

#services {
    display:flex;
}


/*_____GALLERY_____*/


#gallery {
    display: flex;
    flex-direction: column;
}

#gallery img {
    height:100%;
}

#gallery img:hover {
    opacity:0.7;
    cursor:pointer;
    transform: scale(1.1);
    transition:1s;
}

.hidden {
    box-sizing: border-box;
    overflow: hidden;
}

#first {
    display:flex;
}

#icecream {
    width:25%;
}

#icecream img {
    width:100%;
}

#title {
    display:flex;
    align-items:center;
    justify-content:center;
    width:25%;
    background:#fff2ed;
}

@keyframes horizontal {

    0% {
        transform:rotate(-170deg);
    }

    50% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(370deg);
    }
}

#title p {
    font-family:nanami;
    font-size:40px;
    letter-spacing:5px;
    text-transform:uppercase;
    color:#ff7e66;
    font-weight:bold;
    animation-duration:4s;
    animation-name:horizontal;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#second {
    display:flex;
}

#cookies, #cake {
    width:50%;
}

#cookies img, #cake img, #crossaint img, #hamburger img  {
    width:100%;
}

#crossaint, #hamburger {
    width:25%;
}


/*_____FOODS_____*/


#foods {
    display:flex;
    height:348px;
    max-width:1270px;
    margin:0 auto;
    justify-content:space-around;
}

#col1, #col2 {
    display:flex;
    justify-content:space-between;
}

#one {
    background-image:url(img/food1.png);
    background-repeat:no-repeat;
    margin-right:20px;
}


.food {
    border-radius:0 0 190px 190px;
    background:white;
    width:294px;
    height:180px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 1);
    text-align:center;
}

.food:hover {
    padding-top:40px;
    padding-bottom:10px;
    transition:1s;
    background:#ff7e66;
    opacity:0.9;
    color:white;
}

#foods h2 {
    font-size:30px;
    font-family:nanami;
    text-transform:uppercase;
}

#foods p {
    font-size:30px;
    font-family:master;
    color:#f01b16;
    font-weight:bold;
    margin-top:10px;
}

#two {
    background-image:url(img/food2.png);
    background-repeat:no-repeat;
}

.food button {
    background-color:#ff7e66;
    border: none;
    color: white;
    padding: 12px 18px;
    font-family:nanami;
    text-transform:uppercase;
    text-align: center;
    display: inline-block;
    font-size:18px;
    letter-spacing: 3px;
    margin-top:5px;
}

.food button:hover {
    cursor:pointer;
}

#three {
    background-image:url(img/food3.png);
    background-repeat:no-repeat;
}

#four {
    background-image:url(img/food4.png);
    background-repeat:no-repeat;
    margin-left:20px;
}


/*_____CONTACT_____*/


#contact {
    background-image:url(img/contactbg.jpg);
    background-size:cover;
    background-position:center center;
    height:795px;
    margin-top:150px;
    text-align:center;
}

#contact h1 {
    font-family:nanami;
    font-size:40px;
    color:white;
    padding-top:50px;
    margin-bottom:60px;
}

#contact span {
    font-family:master;
}

form, textarea, #submit {
    width:1284px;
    margin:0 auto;
}

#submit:hover {
    cursor:pointer;
    background:##f01b16;
    opacity:0.8;
    transition:2s;
    padding:30px;
    font-size:23px;
    color:white;
}

form {
    display:flex;
    justify-content:space-between;
}

input, textarea {
    background:transparent;
}

input {
    width:30%;
    padding:15px 0px 15px 20px;
    border:1.5px solid #b6b9bd;
}

input {
    color:white;
    font-family:nanami-bold;
    font-size:22px;
}

textarea {
    border:1.5px solid #b6b9bd;
    height:257px;
    margin-top:40px;
    color:white;
    font-family:nanami-light;
    font-size:20px;
}

#submit {
    background:#ff7d66;
    font-size:18px;
    font-family:nanami;
    color:white;
    padding:15px 0px;
    text-transform:uppercase;
    margin-top:35px;
}

::-webkit-input-placeholder {
    color:white;
    font-family:nanami;
    font-size:16px;
}

:-moz-placeholder {
    color:white;
    font-family:nanami;
    font-size:16px;
}

::-moz-placeholder {
    color:white;
    font-family:nanami;
    font-size:16px;
}

:-ms-input-placeholder {
    color:white;
    font-family:nanami;
    font-size:16px;
}

/*_____SOCKET_____*/

@keyframes vertical {

    0% {
        position:relative;
        top:0px;
    }

    50% {
        position:relative;
        top:-20px;
    }

    100% {
        position:relative;
        top:20px;
    }
}


#socket {
    background:#fff2ed;
    height:auto;
    padding:30px 0px;
}

#holder {
    display:flex;
    justify-content:space-between;
    max-width:950px;
    margin:0 auto;
}

.holder {
    height:272px;
    width:287px;
    background:white;
    background-repeat:no-repeat;
}

#email {
    background-image:url(img/email.jpg);
    background-repeat:no-repeat;
    text-align:center;
}

#email img {
    animation-duration: 3s;
    animation-name:vertical;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#restaurant img {
    animation-duration: 3s;
    animation-name:vertical;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay:2s;
}

#phone img {
    animation-duration: 3s;
    animation-name:vertical;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay:1s;
}


#restaurant {
    background-image:url(img/restaurant.jpg);
    background-repeat:no-repeat;
    text-align:center;
}

#phone {
    background-image:url(img/phone.jpg);
    background-repeat:no-repeat;
    text-align:center;
}

#email img {
    margin-top:51px;
}

#restaurant img {
    margin-top:48px;
}

#phone img {
    margin-top:45px;
}

#socket h6 {
    font-size:18px;
    font-family:nanami;
    color:#464646;
    text-transform:uppercase;
    margin-top:65px;
    margin-bottom:10px;
}

#socket p {
    font-size:16px;
    font-family:nanami;
    color:#8b9097;
    text-transform:uppercase;
}

/*_____MAP_____*/


#map {
    background:url(img/map.jpg);
    background-size:cover;
    background-position:center center;
    height:551px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#map p {
    font-family:nanami;
    font-size:22px;
    color:white;
    text-transform:uppercase;
    letter-spacing:2px;
    position:relative;
    top:10px;
    left:-5px;
}

@keyframes pulse {
  from {
    background:white;
  }

  to {
    background:black;
  }
}

#map a {
    text-decoration:none;
}

#map span {
    font-family:master;
    background:#f01b16;
    padding:15px 9px 9px 13px;
    border-radius:50%;
    letter-spacing:4px;
    cursor:pointer;
    color:white;
}

#map span:hover {
    background:red;
    font-size:1.2em;
    transition:1s;
}


/*_____FOOTER_____*/


#footer {
    text-align:center;
}

#footer h6 {
    font-family:master;
    font-size:42px;
    color:#f01b16;
    margin-top:45px;

}

#footer p {
    font-family:nanami-light;
    font-size:16px;
    color:#9599a0;
    margin-top:10px;
}

#social {
    margin-top:20px;
    padding-bottom:40px;
}

#social a:nth-child(2), #social a:nth-child(3), #social a:nth-child(4), #social a:nth-child(5) {
    margin-left:10px;
}

@keyframes media {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}

#social img:hover {
    animation:media 3s ease 0s infinite;
}


/*_____FIRSTPAGE_____*/


@media only screen and (max-width: 1360px)  {

    .logo {
        margin-left:50px;
    }

    nav {
        margin-right:50px;
    }
}

@media only screen and (max-width: 1060px)  {

    .burger-nav {
        display:block;
        width:100%;
        background:url(img/hamburger.png) no-repeat 98% center;
        background-color:white;
        cursor:pointer;
        height:88px;
    }


    header nav ul {
        overflow:hidden;
        background:#505050;
        opacity:0.8;
        height:0;
    }

    header nav ul.open {
        height:653px;
    }

    header nav ul li {
        float:none;
        text-align:left;
        width:100%;
        margin:0px;
    }

    header nav ul li a {
        color:#fff;
        border-bottom:1px solid #404040;
        display:block;
        margin:0px;
        padding:0px;
    }

    header nav ul li a:hover {
        text-align:center;
    }

    .logo {
        position:absolute;
        top:0px;
        left:40vw;
    }

    nav {
        width:100%;
        margin-right:0px;
        height:92px;
        line-height:92px;
    }

    .display {
        display:none;
    }
}

@media only screen and (max-width: 820px)  {

    #slogan img {
        width:95vw;
        height:auto;
    }

    #slogan h4 {
        font-size:18px;
    }
}

@media only screen and (max-width: 700px)  {

    .logo {
        left:5px;
    }
}

@media only screen and (max-width: 700px)  {

    #slogan img {
        display:none;
    }

    #slogan h5 {
        display:inline-block;
        font-family:master;
        font-weight:bolder;
        color:red;
        font-size:70px;
        text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    }
}

@media only screen and (max-width: 700px)  {

    #slogan h5 {
        margin-top:110px;
        font-size:60px;
    }
}


/*_____COOKING_____*/


@media only screen and (max-width: 1400px)  {

    #cooking {
        height:500px;
    }

    #description {
        flex:1;
        text-align:center;
        background:#fff2ed;
    }

    #description h3 {
        font-size:45px;
        font-family:nanami-bold;
        color:#ff7e66;
        text-transform:uppercase;
        max-width:400px;
        margin:10px auto 20px;
    }

    #description p {
        font-family:nanami-light;
        font-size:19px;
        color:#b9b6b4;
        max-width:540px;
        margin:20px auto 10px;
    }
}

@media only screen and (max-width: 896px)  {

    #cooking {
        flex-direction: column;
        height:1200px;
    }

    #photo {
        width:100%;
    }

    #description h3 {
        font-size:45px;
        font-family:nanami-bold;
        color:#ff7e66;
        text-transform:uppercase;
        max-width:400px;
        margin:50px auto 30px;
    }

    #description p {
        font-family:nanami-light;
        font-size:19px;
        color:#b9b6b4;
        max-width:540px;
        margin:30px auto 50px;
    }
}


/*_____LEMON_____*/

@media only screen and (max-width: 1507px)  {

    #detail {
        top: 50%;
    }

}

@media only screen and (max-width: 1360px)  {

    #detail p {
        font-size:20px;
        padding:0px;
    }

    #detail h2 {
        font-size:50px;
        padding:0px;
    }

    #view p {
        font-size:20px;
        padding:22px 35px;
    }
}

@media only screen and (max-width: 1184px)  {

    #detail {
        left: 75%;
    }

    #detail p {
        font-size:18px;
    }

    #detail h2 {
        font-size:40px;
    }


    #view p {
        font-size:18px;
        padding:15px 28px;
    }

}

@media only screen and (max-width: 1023px)  {

    #detail {
        top:45%;
    }
    #detail img {
        transform:scale(0.7);
    }
}

@media only screen and (max-width: 950px)  {

    #lemon {
        display:block;
        background:#fff2ed;
    }

    #view p:hover {
        color:#fff2ed;
        background:#ff7e66;
        transition:1s;
    }

    #detail {
        background:white;
        color:#9f9a97;
    }
    #cookie img{
        height:455px;
    }

    #detail {
        text-align:center;
        display:inline-block;
        position:relative;
        top:0px;
        left:0px;
        transform:none;
        max-width:none;
        text-align:center;
        background:#fff2ed;
    }

    #detail p, #detail h2 {
        color:#ff7e66;
    }

    #detail p {
        padding:0px 20px;
        padding-bottom:10px;
    }

    #detail img {
        left:5%;
        transform:scale(1);
        padding:40px 0px;

    }

    #view {
        border:1px solid #ff7e66;
        margin-bottom:50px;
        margin-top:20px;
    }

    #view p {
        padding:22px 35px;
    }
}

@media only screen and (max-width: 530px)  {

    #cookie img {
        height:400px;

    }

    #detail img {
         display:none;
    }

    #detail h5 {
        display:inline-block;
        font-family:master;
        font-weight:bolder;
        color:red;
        font-size:70px;
        text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
        padding-left:20px;
        padding-bottom:20px;
    }
}


/*_____SERVICES_____*/


@media only screen and (max-width: 1200px)  {

    #services {
        width:auto;
    }
}

@media only screen and (max-width: 930px)  {

    #services {
        width:auto;
    }

    #ship {
        padding-left:50px;
        padding-right:50px;
    }
}


    @media only screen and (max-width: 819px)  {

    #services {
        flex-direction: column;
        align-items:center;

    }

    #ship {
        border:none;
        margin:100px 0px 90px;
    }

    #products {
        position:relative;
        left:15px;
    }
}


/*_____GALLERY_____*/


@media only screen and (max-width: 920px)  {

    #icecream {
        width:50%;
    }

    #title {
        width:50%;
    }

    #cake {
        width:100%;
    }

    #first {
        flex-wrap:wrap;
    }

    #second {
        flex-wrap:wrap;
    }

    #cookies {
        width:100%;
        order:3;
    }

    #crossaint {
        width:50%;
        order:2;
    }

    #hamburger {
        width:50%;
        order:1;
    }
}

@media only screen and (max-width: 480px)  {

    #first, #second, #gallery {
        flex-direction:column;
    }

    #icecream img, #title, #crossaint img, #hamburger img, #cake img, #cookies img {
        height:438px;
    }

    #icecream, #title, #crossaint, #hamburger {
        width:100%;
    }


    #title, #cake {
        position:relative;
        top:-3px;
    }


    #hamburger {
        position:relative;
        top:-6px;
    }

    #crossaint {
        position:relative;
        top:-10px;
        z-index:1;
    }

    #cookies {
        position:relative;
        top:-14px;
    }
}


/*_____FOODS_____*/


@media only screen and (max-width: 1270px)  {

    #foods {
        flex-direction:column;
        height:auto;
    }

    #col1, #col2 {
        justify-content:space-around;
        height:348px;
        flex-wrap:wrap;
    }

    #col2 {
        margin-top:50px;
    }

    #one, #four {
        margin:0px;
    }

    #one, #two, #three, #four {
        height:348px;
    }

    #one, #three {
        margin-left:100px;
    }

    #two, #four {
        margin-right:100px;
    }
}

@media only screen and (max-width: 874px)  {

    #one, #three {
        margin-left:0px;
    }

    #two, #four {
        margin-right:0px;
    }
}

@media only screen and (max-width: 629px)  {

    #col1, #col2, #foods{
         display:block;
    }

    #one, #two, #three, #four {
        width:300px;
        margin:50px auto 0px;
        text-align:center;
    }

    #three {
        position:relative;
        top:795px;
    }

    #contact {
        margin-top:900px;
    }
}


/*_____CONTACT_____*/


@media only screen and (max-width: 1300px)  {

    form, textarea, #submit {
        width:90%;
    }
}

@media only screen and (max-width: 820px)  {

    form {
        flex-direction:column;
    }

    input {
        width:96%;
    }

    input:nth-child(2), input:nth-child(3) {
        margin-top:20px;
    }

    #contact {
        height:875px;
    }
}


/*_____SOCKET_____*/


@media only screen and (max-width: 965px)  {

    .holder {
        width:230px;
    }

    #holder {
        justify-content:space-around;
    }
}

@media only screen and (max-width: 735px)  {

    #holder {
        flex-direction:column;
        margin:0 auto;
        width:300px;
    }

    .holder {
        width:287px;
    }

    #restaurant, #phone {
        margin-top:40px;
    }
}
